<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireTechCareers</title>

    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>Nhựt Tee with view enginee</h1>
    <h2>Message: <%= message %></h2>
    <img src="./images/typescript-with-nestjs.png" alt="">
</body>
</html>